.navbar {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.navbar-logo {
    display: flex;
    flex: 2;
    color: black;
    font-family: Oleo Script;
}   

.navbar-logo h2 {
    color: #000;
    font-weight: normal;
    font-size: 30px;
    margin-left: 30px;
    font-family: 'Oleo Script', cursive;
}

.navbar-links {
    flex: 4;
    display: flex;
    flex-direction: row;
}

.navbar-links ul {
    display: flex;
    flex-direction: row;
}

.navbar-links ul li {
    list-style: none;
    font-size: 24px;
    color: black;
}

.navbar-links ul li a  {
    text-decoration: none;
    color: black;
    margin-left: 40px;
    font-family: 'Space Grotesk', sans-serif;
}

.navbar-links ul li a.active {
    color: #2549D3;
}

.navbar-links ul li a:hover {
    color: #2549D3;
}

.button1 {
    width: 160px;
    margin-top: 9px;
    margin-right: 40px;
    height: 40px;
}

.button1 button {
    background-color: #2549D3;
    color: #FAFAFA;
    /* font-family: var(--font-base); */
    font-weight: 700;
    letter-spacing: 0.04em;
    line-height: 28px;
    font-size: 16px;
    padding: 0.5rem 1.5rem;
    border-radius: 6px;
    border: none;
    outline: none;
    cursor: pointer;
}

/*Home section styling */
.header {
    display: flex;
    flex-direction: row;
}

.header .text {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.header .image {
    display: flex;
    flex: 1;
}

.image img {
    width: 100%;
    height: 100%;
}



.text {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.text p {
    font-size: 70px;
    font-weight: bold;
    color: #2549D3;
    font-family: 'Space Grotesk', sans-serif;
}

.text small {
    font-size: 40px;
    color: black;
    font-family: 'Space Grotesk', sans-serif;
}


.text .button1 button {
    background-color: #2549D3;
    color: #FAFAFA;
    /* font-family: var(--font-base); */
    font-weight: 700;
    letter-spacing: 0.04em;
    width: 160px;
    line-height: 28px;
    font-size: 16px;
    padding: 0.5rem 1.5rem;
    border-radius: 6px;
    border: none;
    outline: none;
    cursor: pointer;
}

.image {
    width: 50%;
    height: 50%;
    margin-right: 50px;
}

.image img {
    /* height: 80%; */
    margin-top: 6rem;
    height: 450px;
}



/*cta styling*/

.cta {
    display: flex;
    flex-direction: row;
    width: 1200px;
    /* align-items: center; */
    text-align: center;
    /* justify-content: center; */
    background: whitesmoke;
    margin-left: 300px;
    margin-top: 50px;
    border-radius: 10px;
    font-family: 'Space Grotesk', sans-serif;

}

.cta .items {
    margin-left: 20px;
    display: flex;
    flex-direction: row;
}

.location {
    color: #2549D3;
    font-size: 25px;
    align-items: flex-start;
    margin-left: 3rem;
}

.location p {
    color: black;
    font-size: 20px;
}
.type {
    color: #2549D3;
    font-size: 25px;
    align-items: center;
    margin-left: 3rem;
}

.type p {
    color: black;
    font-size: 20px;
}
.price {
    color: #2549D3;
    font-size: 25px;
    align-items: center;
    margin-left: 3rem;
}

.price p {
    color: black;
    font-size: 20px;
}

.cta button {
    margin-left: 4rem;
    right: 2rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
}

.products .main {
    display: flex;
    flex-direction: column;
}

.main p {
    font-size: 30px;
    color: navy;
    font-family: 'Space Grotesk', sans-serif;

}

.main h1 {
    color: navy;
    font-size: 48px;
    margin-left: 30px;
    font-family: 'Space Grotesk', sans-serif;
}

.main .first {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.first h2 {
    color: navy;
    font-size: 48px;
    font-family: 'Space Grotesk', sans-serif;

}

.first p {
    font-size: 30px;
    color: black;
    font-family: 'Space Grotesk', sans-serif;
    margin-top: -20px;
    padding-top: 3px;

}

.second {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 80px;
    margin-left: 100px;
}

.second .findH {
    background: whitesmoke;
    width: 390px;
    border-radius: 12px;
}

.findH img {
    width: 40px;
    height: 80px;
}

.findH h3 {
    color: black;
    font-weight: bold;
    font-size: 30px;
    font-family: 'Space Grotesk', sans-serif;
}

.findH p {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: lighter;
    font-size: 24px;
    color: black;

}


.second .makeP {
    background: whitesmoke;
    width: 390px;
    border-radius: 12px;
}

.makeP img {
    width: 200px;
    height: 200px;
}
 
.makeP h3 {
    color: black;
    font-weight: bold;
    font-size: 30px;
    font-family: 'Space Grotesk', sans-serif;
}

.makeP p {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: lighter;
    font-size: 24px;
    color: black;

}


.second .makeO {
    background: whitesmoke;
    width: 390px;
    border-radius: 12px;
}

.makeO img {
    width: 120px;
    height: 200px;
}
.makeO h3 {
    color: black;
    font-weight: bold;
    font-size: 30px;
    font-family: 'Space Grotesk', sans-serif;
}

.makeO p {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: lighter;
    font-size: 24px;
    color: black;

}


/**SECTION 3 STYLES**/

.reasons {
    display: flex;
    flex-direction: row;
    font-family: 'Space Grotesk', sans-serif;
    padding-top: 20px;
}
.reasons .image {
    display: flex;
    object-fit: cover;
    width: 100%;
    height: 100%;
    flex: 1;
    margin-left: 30px;
}

.reasons .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}

.reasons .content h1 {
    font-size: 42px;
    color: navy;
    /* text-align: center;
    align-items: center; */
    padding-top: 20px;
}

.reasons .content p {
    color: black;
    font-size: 30px;
}

.lists {
    display: flex;
    flex-direction: row;
}

.lists .lists1 {
    font-family: 'Space Grotesk', sans-serif;
}

.lists .lists1 h4 {
    color: black;
    font-weight: normal;
    font-size: 24px;
}

.lists .lists1 h4 i {
    color: navy;
    padding-right: 10px;
}

.lists .lists2 {
    font-family: 'Space Grotesk', sans-serif;
    margin-left: 100px;
}

.lists .lists2 h4 {
    color: black;
    font-weight: normal;
    font-size: 24px;
}

.lists .lists2 h4 i {
    color: navy;
    padding-right: 10px;
}

/* features section styling */
.features {
    display: flex;
    flex-direction: column;
    font-family: 'Space Grotesk', sans-serif;
    margin-left: 40px;
}

.feature_text {
    display: flex;
    flex-direction: column;
}

.feature_text h1 {
    color: navy;
    font-size: 34px;
    text-align: center;
    align-items: center;
}

.feature_text p {
    color: black;
    font-size: 28px;
    top: 0;
    margin-top: 0;
    text-align: center;
    align-items: center;
}

.features_content {
    display: flex;
    flex-direction: column;
    font-family: 'Space Grotesk', sans-serif;
}

.features_content-main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4rem;
    width: 100%;
}

.features1 {
    width: 400px;
    height: 250px;
}

.features1 img {
    width: 550px;
    height: 250px;
}
.features-content {
    display: flex;
    flex-direction: row;
}

.features-content .left-content h2 {
    color: black;
    font-size: 24px;
}

.features-content .left-content p {
    color: gray;
    font-size: 20px;
    padding-top: 0rem;
}

.features-content .right-content {
    text-align: right;
    margin-left: 200px;
}

.right-content p {
    color: black;
    font-size: 17px;
}

.right-content small {
    color: black;
    font-size: 13px;
}



.features2 {
    width: 400px;
    height: 250px;
}

.features2 img {
    width: 550px;
    height: 250px;
}


.features3 {
    width: 400px;
    height: 250px;
}

.features3 img {
    width: 550px;
    height: 250px;
}


.button2 {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-right: 40px;
}
.button2 button {
    top: 6rem;
    margin-top: 7rem;
    background-color: #2549D3;
    font-weight: 700;
    border-radius: 6px;
    border: none;
    width: 160px;
    line-height: 28px;
    font-size: 16px;
    padding: 0.5rem 1.5rem;
    
    
    outline: none;
    cursor: pointer;
    

    /* ;
    color: #FAFAFA;
    /* font-family: var(--font-base); */
    /*font-weight: 700;
    
    */
}




/* reviews and testimonials section styling */


.reviews {
    font-family: 'Space Grotesk', sans-serif;
    display: flex;
    flex-direction: column;
}

.reviews .reviews-text {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.reviews .reviews-text h1 {
    font-size: 48px;
    font-weight: bold;
    color: #0F298B;
}

.reviews .reviews-text p {
    font-size: 28px;
    font-weight: normal;
    color: black;
}


.reviews-content {
    display: flex;
    flex-direction: row;
    margin-right: 100px;
    margin-left: 100px;
    gap: 5rem;
}



/* Fooyer section styling */

footer {
    background: #0F298B;
    width: 80%;
    border-radius: 10px;
    justify-content: center;
    margin-left: 200px;
    height: 500px;
    padding-top: 100px;
    top: 100px;
    margin-top: 100px;
}


.main-footer {
    display: flex;
    flex-direction: row;
    margin-left: 7rem;
}

.desc {
    flex: 1;
}

.footer-link {
    flex: 3;
    display: flex;
    flex-direction: row;
    gap: 7rem;
    margin-left: 7rem;
}





font-family: 'Space Grotesk', sans-serif;
font-family: 'Oleo Script', cursive;

/*#2549D3, #0F298B, #FAFAFA*/

/*  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 */